@import "globals";

.form-offer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
  padding: 30px;
  background-color: $lightblue;

  &__title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    text-align: center;
  }

  &__desc {
    font-size: 18px;
  }
}

.field-input {
  position: relative;
  margin-block-end: 10px;

  &__label {
    position: absolute;
    top: 17px;
    left: 20px;
    pointer-events: none;
    transition: transform .25s;
    transform-origin: 0;
  }

  &__input::placeholder {
    color: transparent;
  }
  &__input:focus + &__label,
  &__input:not(:placeholder-shown) + &__label {
    transform: scale(.75) translateY(-16px);
    color: #A9B3BF;
    background-color: white;
  }

  &__wrapper {
    position: relative;
  }

  &__input {
    border-radius: 5px;
    border: 1px solid transparent;
    font-family: 'Commissioner', sans-serif;
    padding: 22px 20px 10px;
    width: 100%;
    font-size: 16px;
    height: 55px;

    &::placeholder {
      color: transparent;
    }
  }

  &__mask {
    position: absolute;
    left: 22px;
    top: 24px;
    color: gray;
    pointer-events: none;
  }

  &__input:not(:focus) ~ &__mask {
    display: none;
  }

  &__mask-start {
    visibility: hidden;
  }

  .valid {
    border: 1px solid #4AD45D;
  }
  .invalid {
    border: 1px solid #D90800;
  }
  .error {
    margin: 0;
    color: #D90800;
  }
}