$gray: #efefef;
$lightgray: #f9f9f9;
$blue: #0051D4;
$lightblue: #e6f0ff;
$red: #c90000;
$darkgray: #717880;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Commissioner', sans-serif;
}