*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Commissioner', sans-serif;
}

$gray: #efefef;
$lightgray: #f9f9f9;
$blue: #0051D4;
$lightblue: #e6f0ff;
$red: #c90000;
$darkgray: #717880;




.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10vw;
}

.header {
  width: 100%;
  color: black;
  padding: 20px 0;
  box-shadow: 0 10px 40px rgb(12 12 12 / 10%);


  &__offer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__text {
    padding: 20px 40px;
  }

  &__image {
    width: 360px;
    border-radius: 20px;
  }

  &__description {

    color: $darkgray;
    &__colored {
      font-size: 18px;
      color: $blue;
      font-weight: 600;
    }
  }

  &__sub-title {
    margin: 0 0 20px;
  }

  &__title {
    font-size: 2vw;
    font-weight: 600;
  }
}

.red_text {
  color: $red;
  font-size: 2.3vw;
}

.badge {
  font-size: 12px;
  font-weight: 600;
  background-color: $red;
  border-radius: 50px;
  color: white;
  width: fit-content;
  padding: 5px 10px;
  text-transform: uppercase;
}


.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  > .column {
    flex: 1;
    min-width: 0;
  }

  > .column + .column {
    margin-left: 20px;
  }

  > .column.double {
    flex-grow: 2;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;

  &__title {
    font-size: 18px;
    font-weight: 600;
    color: $blue;
    text-transform: uppercase;

  }
}

.benefits {
  font-size: 18px;
  line-height: 120%;

  li {
    margin-bottom: 10px;

    a {
      color: black;
    }
  }

  &__single-icon {
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    img {
      width: 30px;
      margin-right: 10px;
    }
  }
}

.three-column {
  border-radius: 20px;
  padding: 20px 40px;
  background-color: $lightgray;
  transition: border-color .25s, color .25s, background .25s;

  &:hover {
    border-color: $gray;
    background: $gray;
  }
}

.form-offer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
  padding: 30px;
  background-color: $lightblue;

  &__title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    text-align: center;
  }

  &__desc {
    font-size: 18px;
  }
}

.btn {
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: none;
  padding: 20px;
  font: 500 18px/1 Commissioner, Arial, Helvetica, sans-serif;
  transition: border-color .25s, color .25s, background .25s;

  &--primary {
    background-color: $blue;
    border-color: $blue;
    color: white;

    &:hover {
      border-color: #0866ff;
      background: #0866ff;
    }
  }
}


.field-input {
  position: relative;

  &__label {
    position: absolute;
    top: 16px;
    left: 20px;
    pointer-events: none;
    transition: transform .25s;
    transform-origin: 0;

  }

  &__input:focus + &__label,
  &__input:not(:placeholder-shown) + &__label {
    transform: scale(.75) translateY(-16px);
    color: #A9B3BF;
    background-color: white;

  }

  &__input {
    border-radius: 5px;
    border: none;
    font-family: 'Commissioner', sans-serif;
    padding: 22px 20px 10px;
    width: 100%;
    margin-bottom: 16px;
    font-size: 16px;
    height: 55px;

    &::placeholder {
      color: transparent;
    }
  }

  &__mask {
    position: absolute;
    left: 22px;
    bottom: 26px;
    color: $gray;
  }

  &__mask-start {
    visibility: hidden;
  }
}

.team {
  font-weight: 600;

  &__title {
    text-align: center;
    font-size: 32px;
  }

  &__name {
    font-size: 18px;
  }
}

.carousel {
  width: 100%;
  &__slide {
    &__img {
      margin: 0 auto;
      overflow: hidden;
      transform: translateZ(0);
      border-radius: 20px;
      width: 300px;

      img {
        width: 300px;
        position: relative;
        transition: all .2s ease-in-out;

        &:hover {
          transform: scale(1.07);
        }
      }
    }
    p {
      text-align: center;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    &__image {
      width: 20vw;
    }
  }

  .carousel {
    &__slide {
      &__img {
        width: 15vw;
        img {
          width: 15vw;
        }
      }

    }
  }
}




@media (max-width: 1199px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .row {
    flex-direction: column;
  }

  .row > .column + .column {
    margin: 10px 0;
  }

  .three-column {
    margin-bottom: 10px;
    padding: 10px 20px;
  }
  .info {
    margin: 20px 0;
  }

  .header {
    padding: 0;
    box-shadow: none;

    &__text {
      width: 100%;
      padding: 20px 10px;
    }

    &__description {
      font-size: 12px;

    }

    &__image {
      width: 35vw;
      border-radius: 10px;
    }

    &__title {
      font-size: 4vw;

    }
  }

  .red_text {
    font-size: 4vw;
  }
  .badge {
    margin-bottom: 5px;
    font-size: 10px;
  }

  .carousel {
    &__slide {
      &__img {
        width: 30vw;
        img {
          width: 30vw;
        }
      }

    }
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;

  }
  .row {
    flex-direction: column;
  }

  .row > .column + .column {
    margin: 10px 0;
  }

  .three-column {
    margin-bottom: 10px;
    padding: 10px 20px;
  }
  .info {
    margin: 20px 0;
  }

  .header {
    padding: 0;
    box-shadow: none;

    &__offer {
      flex-direction: column;
    }

    &__text {
      width: 100%;
      padding: 0 10px;
    }

    &__image {
      width: 100%;
      border-radius: 10px;
    }

    &__title {
      font-size: 1.5rem;

    }
  }
  .red_text {
    font-size: 2rem;
  }
}




