*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Commissioner', sans-serif;

}

:root {
    --gray: #717880;
    --light-gray: #edeff2;
    --blue: #0051D4;
}
.container {
    width: 1430px;
    margin: 40px auto;
}
.header {
    display: flex;
}

.header__image {
    width: 300px;
    border-radius: 20px;
}
.header__text {
    padding: 0 40px;
    flex-basis: 50%;

}
.title {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
}
.sub-title {
    font-size: 2rem;
    font-weight: 600;
}

.description{
    color: var(--gray)
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;


}

.three-column {
    border-radius: 20px;
    flex-basis: 32.5%;
    padding: 20px;
    background-color: #f8f8f8;

}

.form-offer {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--light-gray);
}

.btn {
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    border: none;
    padding: 15px 25px;
    font: 500 18px/1 Commissioner, Arial, Helvetica, sans-serif;
}

.btn-form {
    background-color: var(--blue);
    border-color: var(--blue);
    color: white;
}
.form-offer__title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    text-align: center;

}

.form-input {
    border-radius: 5px;
    border: black 1px solid;
    font-family: 'Commissioner', sans-serif;
    padding: 10px 20px;
}
